<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h3>
              {{
                studentService.selectedStudent.$id == null
                  ? "Agregar Nuevo Alumno"
                  : "Actualizar Alumno"
              }}
            </h3>
          </div>
          <form [formGroup]="alumnoForm">
            <input
              type="hidden"
              name="$id"
              [(ngModel)]="studentService.selectedStudent.$id"
              formControlName="$id"
            />
            <div class="form-group">
              <input
                type="text"
                [(ngModel)]="studentService.selectedStudent.name"
                placeholder="Nombre"
                formControlName="name"
                class="form-control"
              />
              <small
                class="form-text text-danger"
                *ngIf="esCampoValido('name')"
                >{{ obtenerMensajeError("name") }}</small
              >
            </div>
            <div class="form-group">
              <input
                type="text"
                [(ngModel)]="studentService.selectedStudent.lastname"
                placeholder="Apellido"
                formControlName="lastname"
                class="form-control"
              />
              <small
                class="form-text text-danger"
                *ngIf="esCampoValido('lastname')"
                >{{ obtenerMensajeError("lastname") }}</small
              >
            </div>
            <div class="form-group">
              <input
                type="number"
                [(ngModel)]="studentService.selectedStudent.age"
                placeholder="5"
                formControlName="age"
                class="form-control"
                step="1"
              />
              <small
                class="form-text text-danger"
                *ngIf="esCampoValido('age')"
                >{{ obtenerMensajeError("age") }}</small
              >
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                rows="3"
                [(ngModel)]="studentService.selectedStudent.address"
                formControlName="address"
                placeholder="Dirección"
              ></textarea>
              <small
                class="form-text text-danger"
                *ngIf="esCampoValido('address')"
                >{{ obtenerMensajeError("address") }}</small
              >
            </div>
            <div class="form-group">
              <input
                type="text"
                [(ngModel)]="studentService.selectedStudent.phone"
                placeholder="Teléfono"
                formControlName="phone"
                class="form-control"
              />
              <small
                class="form-text text-danger"
                *ngIf="esCampoValido('phone')"
                >{{ obtenerMensajeError("phone") }}</small
              >
            </div>
            <div class="form-group">
              <input
                type="text"
                [(ngModel)]="studentService.selectedStudent.email"
                placeholder="Correo Electrónico"
                formControlName="email"
                class="form-control"
              />
              <small
                class="form-text text-danger"
                *ngIf="esCampoValido('email')"
                >{{ obtenerMensajeError("email") }}</small
              >
            </div>
            <button
              (click)="addOrEdit()"
              class="btn btn-primary btn-space"
              [disabled]="!alumnoForm.valid"
            >
              Guardar
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <!-- md-4 espacio en blanco vertical-->
      <img
        width="300"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciI
        HZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuO
        SA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBma
        WxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzM
        HoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxM
        S43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwL
        jl6IiAvPgogIDwvc3ZnPg=="
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 mt-4">
      <app-student-list></app-student-list>
    </div>
  </div>
</div>
